@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*:focus,
*:active {
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins";
  color: #151515;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  background-color: #f9f9f9;
}

input,
button,
textarea {
  font-family: "Poppins";
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__row--top {
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
  padding: 16px 0;
}

.header__row--middle {
  padding: 40px 0;
}

.header__row--bottom {
  width: calc(100% + 90px);
  margin-left: -45px;
  padding: 0 45px;
  height: 55px;
  background-color: #f9f9f9;
}

.header__col,
.header .contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .contacts__item:not(:first-child) {
  margin-left: 33px;
}

.header .contacts__link,
.header .nav__link {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16.34px;
  color: #6a983c;
}

.header .contacts__tel,
.header .contacts__email {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16.34px;
  color: #151515;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__item:not(:last-child) {
  margin-right: 38px;
}

.header .nav__close {
  display: none;
}

.header .nav__categories {
  display: none;
}

.header .logo__link {
  max-width: 177px;
  width: 100%;
}

.header .search {
  max-width: 500px;
  width: 100%;
}

.header .search__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.header .search__select {
  white-space: nowrap;
}

.header .search__input {
  width: 100%;
}

.header .select {
  position: relative;
}

.header .select__open {
  position: relative;
  cursor: pointer;
  width: auto;
  border-right: 1px solid #d1d1d1;
}

.header .select__open._active .select__icon {
  -webkit-transform: translate(0, -50%) rotate(0deg);
  -ms-transform: translate(0, -50%) rotate(0deg);
  transform: translate(0, -50%) rotate(0deg);
}

.header .select__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.header .select__current {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  background-color: transparent;
  padding-right: 48px;
}

.header .select__icon {
  display: block;
  width: 10px;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.header .select__list {
  display: block;
  width: calc(100% + 16px);
  min-width: 120px;
  max-height: 0;
  background-color: #f9f9f9;
  position: absolute;
  top: calc(100% + 10px);
  left: -16px;
  z-index: 10;
  border-radius: 0 0 12px 12px;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.header .select__item {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  padding: 10px;
  padding-left: 16px;
  padding-right: 0;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
}

.header .select__item._active {
  background-color: #ebebeb;
}

.header .query {
  position: relative;
}

.header .query__input {
  display: block;
  padding: 0 24px;
  background-color: transparent;
  width: 100%;
}

.header .query__input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #a9a9a9;
}

.header .query__input::-moz-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #a9a9a9;
}

.header .query__input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #a9a9a9;
}

.header .query__input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #a9a9a9;
}

.header .query__input::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #a9a9a9;
}

.header .query__submit {
  display: block;
}

.header .query__icon {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.header .user__signin {
  margin-right: 40px;
}

.header .user__signin svg {
  width: 24px;
}

.header .user__cart a {
  position: relative;
}

.header .user__cart a::before {
  content: attr(data-cart);
  display: block;
  padding: 0 4px;
  height: 16px;
  background-color: #E5704B;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transform: translateX(-37.5%);
  -ms-transform: translateX(-37.5%);
  transform: translateX(-37.5%);
}

.header .user__cart a svg {
  width: 24px;
}

.header .categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .categories__item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 14px;
  line-height: 55px;
}

.header .categories__item:not(:first-child) {
  margin-left: 40px;
}

.header .categories__link,
.header .sublist__link {
  color: #151515;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
}

.header .categories__arrow {
  display: block;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.header .sublist {
  display: none;
  width: calc(100% + 20px);
  min-width: 120px;
  position: absolute;
  top: 100%;
  left: -10px;
  z-index: 2;
}

.header .sublist__item {
  padding: 0 10px;
  cursor: pointer;
}

.icon-menu {
  display: none;
}

.wrapper {
  overflow: hidden;
  max-width: 1260px;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 0 45px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.row {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row--banner .row__content {
  margin-left: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74.3%;
  flex: 0 0 74.3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row--products .item {
  max-width: 270px;
  position: relative;
}

.row--products .item._discount::before {
  content: attr(data-discount);
  display: block;
  position: absolute;
  top: 28px;
  left: 36px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  z-index: 1;
}

.row--products .item__body {
  padding: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.row--products .item__img {
  position: relative;
  padding-bottom: 75.9%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.row--products .item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.row--products .item__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
  margin-bottom: 4px;
}

.row--products .item__text {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 16.34px;
  color: #575757;
  margin-bottom: 16px;
}

.row--products .item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row--products .item__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.row--products .item__price span {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.row--products .item__cta {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #ffffff;
  padding: 6.5px 12px;
  background-color: #6a983c;
  border-radius: 12px;
  border: 2px solid #46760a;
}

.row--products .row__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74.3%;
  flex: 0 0 74.3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row--slider {
  display: block;
}

.row--slider .row__content {
  width: calc(100% + 90px);
  -webkit-transform: translateX(-45px);
  -ms-transform: translateX(-45px);
  transform: translateX(-45px);
  overflow: hidden;
}

.row--slider .row__container {
  position: relative;
}

.row--slider .row__container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  z-index: 2;
}

.row--slider .row__container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(right, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.7;
  z-index: 2;
}

.row--slider .row__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 37.5px;
}

.row--slider .row__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.row--slider .row__cta {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #151515;
}

.row--slider .row__cta svg {
  width: 8px;
  stroke: #6a983c;
  stroke-width: 2.5px;
}

.row--slider .row__prev {
  color: transparent !important;
  display: block;
  width: 32px;
  height: 48px;
  background-color: #151515;
  border-radius: 0 12px 12px 0;
  position: absolute;
  top: calc(50% + 24px);
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 5;
}

.row--slider .row__prev svg {
  width: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row--slider .row__next {
  color: transparent !important;
  display: block;
  width: 32px;
  height: 48px;
  background-color: #151515;
  border-radius: 12px 0 0 12px;
  position: absolute;
  top: calc(50% + 24px);
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 5;
}

.row--slider .row__next svg {
  width: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row--slider .slide {
  max-width: 370px;
  height: calc(100% + 24px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row--slider .slide__body {
  position: relative;
  max-width: 370px;
  background-color: #fff;
  border: 1px solid  #f1f1f1;
  border-radius: 12px;
  padding: 24px 32px 40px 32px;
  margin-bottom: 24px;
  min-width: 100%;
}

.row--slider .slide__text {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  margin-bottom: 24px;
}

.row--slider .slide__name {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}

.row--slider .slide__img {
  position: absolute;
  left: 50%;
  bottom: -24px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.row--slider .slide__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.row__aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
}

.row__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.row__list {
  margin: 16px 0 0 0;
}

.row__list-item + .row__list-item {
  margin: 12px 0 0 0;
}

.row__list-item a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #6a983c;
  text-decoration: underline;
}

.row__list-item--more {
  display: inline-block;
  padding: 12.5px 16px;
  background-color: #f5f5f5;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  margin-top: 48px !important;
}

.row__list-item--more a {
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #151515;
  text-decoration: none;
  white-space: nowrap;
}

.row__list-item--more svg {
  width: 11px;
  margin-left: 6px;
  stroke: #151515;
  stroke-width: 2.5px;
}

.row .banner {
  max-width: 420px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.row .banner__body {
  position: relative;
  padding: 48px 33px 32px 33px;
  z-index: 1;
}

.row .banner__suptitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
}

.row .banner__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
  margin-top: 8px;
}

.row .banner__cta {
  display: inline-block;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  color: #151515;
  padding: 12px 16px;
  border: 2px solid #92C064;
  border-radius: 12px;
  margin-top: 94px;
}

.row .banner__cta svg {
  width: 11px;
  margin: 0 6px -1px 0;
  stroke: #6A983C;
  stroke-width: 2.5px;
}

.row .banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f8ec url(../img/vegetables.svg) center/cover no-repeat;
  opacity: 0.7;
}

@media (min-width: 767.98px) {
  .row--slider .slide__body {
    -webkit-transform: translateX(-43%);
    -ms-transform: translateX(-43%);
    transform: translateX(-43%);
  }
}

@media (min-width: 991.98px) {
  .header .contacts__link:hover,
  .header .nav__link:hover {
    text-decoration: underline;
  }

  .header .contacts__tel:hover,
  .header .contacts__email:hover {
    text-decoration: underline;
  }

  .header .select__item:hover {
    background-color: #ebebeb;
  }

  .header .categories__item:hover .sublist {
    display: block;
  }

  .header .sublist {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
  }

  .header .sublist__item {
    background-color: #f9f9f9;
  }

  .header .sublist__item:hover {
    background-color: #ebebeb;
  }

  .row--products .item__cta {
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
  }

  .row--products .item__cta:hover {
    background-color: #5d8635;
  }

  .row--slider .row__cta:hover {
    text-decoration: underline;
  }

  .row__list-item a:hover {
    text-decoration: none;
  }

  .row__list-item--more:hover {
    background-color: gainsboro;
  }

  .row .banner__cta {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .row .banner__cta:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media (max-width: 1272px) {
  .wrapper {
    padding: 0 30px;
  }

  .row--banner .row__content {
    grid-gap: 16px;
  }

  .row--products .row__content {
    grid-gap: 16px;
  }

  .row--slider .row__content {
    width: calc(100% + 60px);
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
}

@media (max-width: 1260px) {
  .header .contacts__item:not(:first-child) {
    margin-left: 2.61905vw;
  }

  .header .nav__item:not(:last-child) {
    margin-right: 3.01587vw;
  }

  .header .categories__item:not(:first-child) {
    margin-left: calc(((100vw - 912px) / 348) * 25 + 15px);
  }
}

@media (max-width: 991.98px) {
  .header__row--top {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 499;
    border-top: 1px solid rgba(21, 21, 21, 0.05);
  }

  .header__row--top > * + *:not(.nav) {
    margin-left: 100px;
  }

  .header__row--middle {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(21, 21, 21, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 400;
  }

  .header__row--bottom {
    display: none;
  }

  .header .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header .contacts__item {
    padding: 15px;
  }

  .header .contacts__item:not(:first-child) {
    margin: 0;
  }

  .header .contacts__link,
  .header .nav__link {
    font-size: 16px;
    color: #575757;
  }

  .header .contacts__tel,
  .header .contacts__email {
    font-size: 16px;
    color: #575757;
  }

  .header .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    z-index: 500;
    background-color: #f9f9f9;
    -webkit-box-shadow: 4px 0 5px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  .header .nav._active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .header .nav__list {
    padding-top: 30px;
    display: block;
  }

  .header .nav__item:not(:last-child) {
    margin: 0;
  }

  .header .nav__item {
    padding: 15px;
  }

  .header .nav__close {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .header .nav__close span {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    -ms-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
    width: 100%;
    height: 1px;
    background-color: #151515;
  }

  .header .nav__close span:nth-child(2) {
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    -ms-transform: translate(0, -50%) rotate(-45deg);
    transform: translate(0, -50%) rotate(-45deg);
  }

  .header .nav__categories {
    display: block;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 0;
    z-index: 10;
  }

  .header .nav__categories button.nav__link {
    display: inline-block;
    padding: 15px;
    background-color: transparent;
    text-align: left;
  }

  .header .nav__categories._active {
    width: 100%;
    -webkit-transform: translateY(-216px);
    -ms-transform: translateY(-216px);
    transform: translateY(-216px);
    -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;
  }

  .header .nav__categories._active button.nav__link {
    width: 100%;
    color: #151515;
  }

  .header .nav__categories._active + .nav__list-wrapper {
    visibility: visible;
    opacity: 1;
  }

  .header .nav__categories + .nav__list-wrapper {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 8;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
  }

  .header .nav__link {
    color: #575757;
    font-size: 16px;
  }

  .header .logo {
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .header .search__form {
    padding: 6px 9px;
  }

  .header .select__current {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19.07px;
    padding-right: 25px;
  }

  .header .select__icon {
    right: 8px;
  }

  .header .select__list {
    top: calc(100% + 6px);
    left: -10px;
  }

  .header .query__input {
    padding: 0 24px 0 10px;
  }

  .header .user__signin {
    margin: 0;
  }

  .header .categories__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 50px;
  }

  .header .categories__item {
    line-height: 1;
    padding: 13px;
  }

  .header .categories__item:not(:first-child) {
    margin: 0;
  }

  .header .categories__item._active .categories__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header .categories__arrow {
    display: inline-block;
    margin-bottom: -3.8px;
    margin-left: 5px;
    width: 16px;
    position: static;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .header .sublist {
    display: block;
    position: static;
    width: initial;
    min-width: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .header .sublist__item {
    padding: 8px 15px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 25px;
    height: 15px;
    cursor: pointer;
  }

  .icon-menu:hover span {
    background-color: #575757;
  }

  .icon-menu span {
    display: block;
    position: absolute;
    top: calc(50% - ((1 / 2) * 1px));
    width: 100%;
    height: 1px;
    background-color: #151515;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: initial;
    bottom: 0;
  }

  .wrapper {
    padding: 0 15px;
  }

  .row--banner .row__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .row--products .item {
    max-width: none;
  }

  .row--products .row__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .row--slider .row__content {
    width: calc(100% + 30px);
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }

  .row .banner {
    max-width: initial;
  }
}

@media (max-width: 767.98px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .row--banner .row__content {
    margin: 32px 0 0 0;
  }

  .row--products .row__content {
    margin: 32px 0 0 0;
  }

  .row__list-item--more {
    margin-top: 12px !important;
  }
}

@media (max-width: 479.98px) {
  .row--products .row__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .row--slider .row__container::before {
    display: none;
  }

  .row--slider .row__container::after {
    display: none;
  }

  .row--slider .slide {
    max-width: none;
  }
}